.contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form{
    flex-basis: 45%;
    padding-bottom: 60px;
}

.form-text{
    font-size: 14px;
color: #bdbdbd;
font-weight: 400;
font-family: "Open Sans";
padding-top: 60px;
}

#message{
    padding-bottom: 175px;
}



.btn-contact-wrapper{
   width: fit-content;
   margin: auto;
   padding-bottom: 100px;
 
}

.send{
    color: white;
   background-color: #FE8A38;
   padding: 10px 20px;
   border: none;
   border-radius: 3px;
}